[submodule "src/plugin.video.peertube"]
	path = src/plugin.video.peertube
	url = https://framagit.org/csvke/plugin.video.peertube
[submodule "src/skin.aura-tvhk"]
	path = src/skin.aura-tvhk
	url = https://github.com/tvhk-dev/skin.aura-tvhk
